* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/* header sec */
body {
  background-color: aliceblue;
  color: green;
  padding: 50px;
}

header {
  /*border: 2px solid black;*/
  background-image: url(https://wallpapers.com/images/hd/sunflowers-and-roses-kjij3hy57bb49sbx.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left, bottom right, bottom center;
  text-align: center;
  padding: 100px;
}

header h1 {
  font-family: "Playfair Display SCSofi", serif;
  font-size: 3rem;
  margin-bottom: 30px;
  color: aliceblue;
  text-shadow: 5px 0px 5px green;
}

header p {
  text-align: center;
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  margin-bottom: 30px;
  font-style: italic;
  color: aliceblue;
  text-shadow: 5px 0px 5px green;
}

header a {
  width: 150px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  background-color: green;
  color: aliceblue;
  text-decoration: none;
  margin: 5px auto;
  border-radius: 7px;
}

/* nav sec */

nav {
  /*border: 2px solid black;*/
  text-align: center;
  padding: 20px;
  background-color: aliceblue;
  position: sticky;
  top: 0px;
}

nav a {
  display: inline-block;
  text-decoration: none;
  color: green;
  margin: 0 25px;
}

/* our- menu sec */

#our-menu,
#about-us,
#contact-us,
footer {
  width: 80%;
  margin: 30px auto;
}

#our-menu h2,
#about-us h2,
#contact-us h2 {
  font-family: "Playfair Display SC", serif;
  font-size: 2em;
  padding: 10px 0;
  margin-bottom: 20px;
}

.menu-list h3 {
  margin: 20px 0;
  padding: 2px 10px;
  border-left: 4px groove aliceblue;
}

.card {
  width: 230px;
  padding: 10px;
  text-align: center;
  font-family: "Lato", sans-serif;
  margin: 0 10px;
  display: inline-block;
  border-radius: 10px;
}

.card-image-top {
  max-width: 100%;
  width: 400px;
  height: 250px;
  border-radius: 10px;
}

.card-title {
  margin: 10px 0;
}
.card-text {
  line-height: 1.3rem;
}
.price {
  font-weight: bold;
  font-style: italic;
}
.btn-order {
  border: none;
  width: 100%;
  background-color: green;
  padding: 10px;
  color: aliceblue;
  border-radius: 5px;
  margin: 10px 0;
}

/* about-us sec */

#about-us p,
contact-us p,
footer p {
  font-family: "Lato", sans-serif;
  line-height: 1.5rem;
  text-align: justify;
  padding: 10px 0;
}

/* contact-us sec */

form {
  font-family: "Lato", sans-serif;
  /*border: 2px solid black;*/
  margin-top: 10px;
}

form div {
  margin-bottom: 10px;
}

.form-label {
  text-align: right;
  display: inline-block;
  padding: 10px;
  width: 150px;
}

.form-control {
  border: none;
  width: 300px;
  border-bottom: 2px solid green;
  background-color: aliceblue;
  outline: none;
}

.btnSumbit {
  border: none;
  width: 250px;
  height: 40px;
  background-color: green;
  color: aliceblue;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 160px;
  border-radius: 8px;
  cursor: pointer;
}

footer p {
  text-align: center;
  font-size: 0.9rem;
  text-align: center;
  color: green;
}

footer a {
  color: green;
}
